<fieldset class="form-group"
          ng-class="{ 'has-error': form[getName('title')].$invalid && !form[getName('title')].$pristine }">
    <legend for="title" class="legend-hal control-label" translate="GUESTLBL_TITLE"></legend>
    <div class="radio radio-title-guest">
        <label><input
                type="radio"
                name="{{getName('title')}}"
                ng-model="formObj.rooms[indexRoom].guest[indexGuest].title"
                value="mr"
                ng-required="!formObj.rooms[indexRoom].guest[indexGuest].title">{{'GUESTRAD_MR'| translate}}</label>
    </div>
    <div class="radio radio-title-guest">
        <label><input
                type="radio"
                name="{{getName('title')}}"
                ng-model="formObj.rooms[indexRoom].guest[indexGuest].title"
                value="mrs"
                ng-required="!formObj.rooms[indexRoom].guest[indexGuest].title">{{'GUESTRAD_MRS'| translate}}</label>
    </div>
    <div class="radio radio-title-guest">
        <label><input
                type="radio"
                name="{{getName('title')}}"
                ng-model="formObj.rooms[indexRoom].guest[indexGuest].title"
                value="ms"
                ng-required="!formObj.rooms[indexRoom].guest[indexGuest].title">{{'GUESTRAD_MS'| translate}}</label>
    </div>
    <div class="radio radio-title-guest">
        <label><input
                type="radio"
                name="{{getName('title')}}"
                ng-model="formObj.rooms[indexRoom].guest[indexGuest].title"
                value="miss"
                ng-required="!formObj.rooms[indexRoom].guest[indexGuest].title">{{'GUESTRAD_MISS'| translate}}</label>
    </div>
    <div class="radio radio-title-guest">
        <label><input
                type="radio"
                name="{{getName('title')}}"
                ng-model="formObj.rooms[indexRoom].guest[indexGuest].title"
                value="mstr" ng-required="!formObj.rooms[indexRoom].guest[indexGuest].title">{{'GUESTRAD_MSTR'| translate}}</label>
    </div>
   <!--add ng-messages -->
</fieldset>