<form name="inputForm" novalidate>
    <!-- text field -->
    <div class="form-group"
        ng-class="{ 'has-error': inputForm.guestName.$invalid && !inputForm.guestName.$pristine }">
        <label for="guestName" class="control-label" translate="GUESTLBL_NAME"></label>
        <input name="guestName"
               id="guestName"
               type="text"
               class="form-control"
               ng-pattern="/^[a-zA-Z0-9\ \,\.~\`!\@\#\$\^\*()\-_\+=\{\}\[\]\|\\;:\'\/]*$/"
               ng-maxlength="30"
               ng-minlength="2"
               ng-model="form.guestName"
               required />
        <div ng-messages="inputForm.guestName.$error" ng-show="inputForm.guestName.$dirty"
             role="alert" class="help-block">
            <div ng-messages-include="components/directives/fieldValidation/fieldValidation.tpl.html"></div>
        </div>
    </div>

    <!-- radio buttons -->
    <fieldset class="form-group"
              ng-class="{ 'has-error': inputForm.title.$invalid && !inputForm.title.$pristine }">
        <label for="title" class="control-label" translate="GUESTLBL_TITLE"></label>
        <div class="radio radio-title-guest">
            <label><input
                    type="radio"
                    name="title"
                    value="mr"
                    ng-model="form.title"
                    required />{{'GUESTRAD_MR'| translate}}</label>
        </div>
        <div class="radio radio-title-guest">
            <label><input
                    type="radio"
                    name="title"
                    value="mrs"
                    ng-model="form.title"
                    required />{{'GUESTRAD_MRS'| translate}}</label>
        </div>
        <div class="radio radio-title-guest">
            <label><input
                    type="radio"
                    name="title"
                    value="ms"
                    ng-model="form.title"
                    required />{{'GUESTRAD_MS'| translate}}</label>
        </div>
        <div class="radio radio-title-guest">
            <label><input
                    type="radio"
                    name="title"
                    value="miss"
                    ng-model="form.title"
                    required />{{'GUESTRAD_MISS'| translate}}</label>
        </div>
        <div class="radio radio-title-guest">
            <label><input
                    type="radio"
                    name="title"
                    value="mstr"
                    ng-model="form.title"
                    required />{{'GUESTRAD_MSTR'| translate}}</label>
        </div>
        <div ng-messages="inputForm.title.$error" ng-show="inputForm.title.$dirty" role="alert"
             class="help-block">
            <div ng-messages-include="components/directives/fieldValidation/fieldValidation.tpl.html"></div>
        </div>
    </fieldset>

    <!-- datepicker -->
    <div class="form-group" ng-class="{ 'has-error': inputForm.dob.$invalid && !inputForm.dob.$pristine }">
        <label for="dob" class="control-label" translate="GUESTLBL_DBIRTH"></label>
        <div>
            <p class="input-group">
                <input type="text" class="form-control"
                       id="dob"
                       name="dob"
                       placeholder="YYYY/MM/DD"
                       uib-datepicker-popup="yyyy/MM/dd"
                       ng-model="form.dob"
                       is-open="popup.opened"
                       datepicker-options="dateOptions"
                       close-text="Close"
                       ng-required="true"
                />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="openDatepicker()"
                        aria-label="expand/collapse datepicker" aria-expanded="false"><i
                        class="glyphicon glyphicon-calendar"></i></button>
            </span>
            </p>
            <div ng-messages="inputForm.dob.$error" ng-show="inputForm.dob.$dirty"
                 role="alert" class="help-block">
                <div ng-messages-include="components/directives/fieldValidation/fieldValidation.tpl.html"></div>
            </div>
        </div>
    </div>

    <!-- typeahead -->
    <div class="form-group"
         ng-class="{ 'has-error': inputForm.country.$invalid && !inputForm.country.$pristine }">
        <label for="country" class="control-label" translate="GUESTLBL_COUNTRY"></label>
        <div>
            <ui-select ng-model="inputForm.country" name="country" required>
                <ui-select-match>{{$select.selected.name}}</ui-select-match>
                <ui-select-choices repeat="country in (country.list | filter: $select.search) track by country.code">
                    <div ng-bind-html="country.name | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        </div>
        <div ng-messages="inputForm.country.$error" ng-show="inputForm.country.$dirty"
             role="alert" class="help-block">
            <div ng-messages-include="components/directives/fieldValidation/fieldValidation.tpl.html"></div>
        </div>
    </div>

    <!-- button -->

        <button ng-click="click()" class="btn btn-primary" type="button" translate="BTN_SUBMIT"></button>
</form>