<div class="section section-header">
    <div class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#navbar-ex-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- navbar view in full view -->
            <div class="collapse navbar-collapse">
                <ul class="nav nav-pills navbar-right">
                    <li ui-sref="home" ui-sref-active="active"><a tabindex="1" href="">{{'NAVBAR_APP'
                        |translate}}</a></li>
                    <li ui-sref="faqs" ui-sref-active="active">
                        <a tabindex="2" href="">{{'NAVBAR_FAQ' |translate}}</a>
                    </li>
                    <li ui-sref="procedure" ui-sref-active="active">
                        <a tabindex="3" href="">{{'NAVBAR_PROC'|translate}}</a>
                    </li>
                    <li>
                        <a href={{'LINK_OFFERS'|translate}} target="_blank">{{'NAVBAR_OFFERS'|translate}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div> <!--navbar-->
    <!-- The navbar in mobile view-->
    <div class="collapse navbar-open" id="navbar-ex-collapse">
        <ul class="nav navbar-nav navbar-right">
            <li ui-sref="home" ui-sref-active="active"><a tabindex="1"
                                                          href=""><span>{{'NAVBAR_APP' |translate}}</span></a></li>
            <li ui-sref="about" ui-sref-active="active">
                <a tabindex="2" href=""><span>{{'NAVBAR_ABOUT' |translate}}</span></a>
            </li>
            <li ui-sref="google" ui-sref-active="active">
                <a tabindex="3" href="{{'NAVBAR_LINK' |transalte}}" target="_blank"><span>{{'NAVBAR_GOOGLE'|translate}}</span></a>
            </li>
        </ul>
    </div>
</div> <!--navbar-->