<div class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"></a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-ex-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li ui-sref="home" ui-sref-active="active"><a tabindex="1"
                                                              href=""><span>{{'NAVBAR_APP' |translate}}</span></a></li>
                <li ui-sref="about" ui-sref-active="active">
                    <a tabindex="2" href=""><span>{{'NAVBAR_ABOUT' |translate}}</span></a>
                </li>
                <li>
                    <a href={{'NAVBAR_LINK'|translate}} target="_blank"><span>{{'NAVBAR_GOOGLE'|translate}}</span></a>
                </li>
            </ul>
        </div>
    </div>
</div>